.formular {
	margin-left: 15px;
	margin-right : 15px;
	margin-bottom : 25px;
	display: flex;
	width: 40%;
	min-height: 98vh;
}

.text-center {
	text-align: center;
}

form {
    border-collapse: collapse;
    width: 500px;	
	border: 1px solid #b1b1b1;
	background-color : #d2d2d2c4;
	border-radius : 3px;
	padding-top : 10px;
	box-shadow : 5px 5px 2px #6b6565;
	font-size : 18px;
	height : 500px;
	padding-left: 30px;
	padding-right : 15px;
	display: flex;
	flex-direction: column;
}

form#student-form {
    border-collapse: collapse;
    width: 480px;	
	border: 1px solid #b1b1b1;
	background-color : #d2d2d2c4;
	border-radius : 3px;
	padding-top : 10px;
	box-shadow : 5px 5px 2px #6b6565;
	font-size : 18px;
	height : 200px;
	padding-left: 30px;
	padding-right : 15px;
}

.formular form div {
	margin-bottom : 15px;
	margin-top: 15px;
}

.formular label {
	height : 20px;
	margin-bottom : 20px;
}

.formular input {
	width : 198px;
	height : 20px;
	float: right;
    margin-right: 30px;
	border-radius : 5px;
	border-color: rgb(169, 169, 169);
    border-width: 1px;
    border-style: solid;
}

.formular select{
	width : 200px;
	height : 25px;
	float: right;
    margin-right: 30px;
	border-radius : 5px;
}

.formular select#choices{
	width : 200px;
	height : 100px;
	float: right;
    margin-right: 30px;
	border-radius : 5px;
}

.disabled-input{
	border-color: rgb(0, 0, 0);
}

.butoane{
	display: flex;
    justify-content: center;
    margin: auto;
	margin-top : 0px;
}

.butoane button:first-child{ 
	margin-right: 10px;
}

.butoane button {
	width : 100px;
	height : 25px;	
	border-radius : 5px;
	background-color : #b52b00;
	color : white;
	margin-top : 20px;
}

.formular span {
	margin-left : 30px;
	color : #BC171D;
	display: none;
}

.star {
	color : #C00000;
	margin-left: 0px;
	font-size:15px;
}

p {
	color:#b52b00;
}

.materiale {
	display: inline-block;
	width: 100%;
}

i.fa-trash-o,
i.fa-plus-square {
	float: right;
}
.addButton {
	order: 2;
}
.addButtonLab {
	order: 2;
}
.browseForCurs {
	order: 3;
	visibility: hidden;
}
.browseForLab {
	order: 3;
	visibility: hidden;
}
.card_materiale_ascunse1 {

	order: 4;
	visibility: hidden;
}
.card_materiale_ascunse2 {
	
	order: 5;
	visibility: hidden;
}
