.text-red {
	color: #b52b00;
}

.text-center {
	text-align: center;
}

.text-bold {
	font-weight : bold;
}

.explicare{
	margin-left: 15px;
	margin-right : 15px;
	margin-bottom : 25px;
	margin-top : 25px;
}


.orar {
	display: flex;
    margin: auto;
	box-shadow : 5px 5px 2px #6b6565;
	margin-bottom : 25px;
}

.table_div {
	margin-left: 15px;
	margin-right : 15px;
	margin-bottom : 25px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	box-shadow: 3px 6px 12px 0px #6b6565;
}

td, th {
    border: 1px solid #ada4a4;
    text-align: center;
    padding: 8px;
	width : 5%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table_div {
	margin-top : 30px;
}

th {
	color : #b52b00;
}
h2 {
	text-align: center;
}

.grupa_link {
	color:#b52b00;
}

a {
	text-decoration : none;
	color: black;
}

span {
	font-weight : bold;
	color : #b52b00;
}

p { 
   text-indent: 20px;
   
}