.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
	margin : 8px;
}

.navbar a,  .test, .suport_optiuni {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.disciplina_dropdown, .suport_dropdown, .orar_dropdown{
    float: left;
    overflow: hidden;
}

.disciplina_optiuni_content, .suport_optiuni_content{
	display:none;
}

.disciplina_dropdown .disciplina_dropbtn,
.orar_dropdown .orar_dropbtn,
.suport_dropdown .suport_dropbtn
{
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.suport_dropdown{
	float: right;
}

.navbar a:hover, .disciplina_dropdown:hover .disciplina_dropbtn {
    background-color: red;
}

.navbar a:hover, .orar_dropdown:hover .orar_dropbtn {
    background-color: red;
}

.navbar a:hover, .suport_dropdown:hover .suport_dropbtn {
    background-color: red;
}

.disciplina_dropdown_content, 
.orar_dropdown_content, 
.suport_dropdown_content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.disciplina_optiuni_content,.suport_optiuni_content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    margin-top: -1px;
}

.suport_dropdown_content{
	margin-right : 171px;
}

.disciplina_dropdown_content a, 
.orar_dropdown_content a, 
.suport_dropdown_content a,
.suport_dropdown_content .suport_optiuni,
.disciplina_dropdown_content .test
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.disciplina_dropdown_content a:hover, 
.orar_dropdown_content a:hover,
.suport_dropdown_content a:hover,
.suport_dropdown_content .suport_optiuni:hover,
.disciplina_dropdown_content .test:hover
{
    background-color: #ddd;
}

.disciplina_dropdown:hover .disciplina_dropdown_content,
.orar_dropdown:hover .orar_dropdown_content,
.suport_dropdown:hover .suport_dropdown_content,
.suport_optiuni:hover .suport_optiuni_content,
.test:hover .disciplina_optiuni_content
{
    display: block;
}

.suport_dropdown_content
{
	right: 4px;
    left: auto;
}

.suport_optiuni_content {
	top: 1px;
	right: 160px;
    left: auto;
	min-width: 200px;
}

#RC_Optiuni{
	top: 1px;
}

#SD_Optiuni{
	top:43px;
}


#PIU_Optiuni{
	top:85px;
}

body {
	background-image: url("../img/bg1.png");
	margin : 0;
}

.info-stud{
	margin-bottom : 15px;
}

.detalii {
	margin-top : 15px;
	float :right;
	color : white;
}


.detalii *{
	margin-right : 10px;
}

.detalii span{
	color : white;
}

.logo-utcluj {
	height : 50px;
	margin-left : 40%;
	margin-top : 10px;
}

.wellcome-img{
	opacity : 0.5;
	display : flex;
	margin: 8px;
}

.wellcome-img img {	
	margin: auto;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background :url('https://www.utcluj.ro/static/img/footer-bg.png');
  color : white;
  display: flex;
  justify-content: space-between;
}

.quick-links{
	margin-top : 30px;
	display : flex;
	flex-direction  : column;
}

.maps {
	float : right;
}
.a-footer {
	color : white;
	text-decoration : none;
}
h1 {
	text-align : center;
}

.serach-bar {
	display : flex;
	flex-direction : row;
	top : 0px;
	float : right;
	margin-right : 15px;
}


.input-search{
	display : none;
	margin-right : 8px;
    border-radius: 3px;
}

.startButton {
    background-color: #b52b00;
    margin: 30px;
    margin-bottom: 10px;
    width: 300px;
    font-size: 16px;
    height: 60px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

.materiale_prezente {
    margin-left: 50px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #b52b00;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    display: flex;
    width: 100%;
}
.cursP {
    width: 120px;
}
.curs-combo {
    margin-top: 5px;
    width : 100px;
    height: 40px;
}
.start_session {
    margin-left: 20px;
    visibility: hidden;
    width: 200px;
    height: 25px;
}
h3 {
    margin-left: 30px;
    visibility: hidden;
}
.cursCod{
    font-size: 16px;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #b52b00;
    border-radius: 5px;
}