.text-red {
	color: #b52b00;
}

.text-center {
	text-align: center;
}

.text-bold {
	font-weight : bold;
}

.beneficii {
	margin-left: 15px;
	margin-right : 15px;
	margin-bottom : 25px;
	margin-top : 25px;
}

.carduri {
	display : flex;
}

.carduri > div {
	flex: 1 1 31%;
	max-width : 32%;
	border: 1px solid #b1b1b1;
	background-color : #f9f9f9;
	border-radius : 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow : 5px 5px 2px #6b6565;
}


.omipass, .studcard, .isic  {
	margin-bottom : 20px;
}

.omipass {
	margin-right : 10px;
}

.omnipass-logo{
	padding-top : 25px;
	height : 80px;
	width : 80%;
	padding-left : 10%;
	padding-bottom : 20px;
}

.omipass div {
	padding-bottom : 8px;
	padding-left : 8px;
}

.studcard {
	margin-right : 10px;
	margin-left : 10px;
}

.stud-logo {
	height : 120px;
	width : 80%;
	padding-left : 10%;
}

.stud-link {
	color : black;
}

.studcard div {
	padding-bottom : 8px;
	padding-left : 8px;
}

.benef_stud {
	padding-top : 15px;
}

.isic {
	margin-left : 10px;
}

.isisc-logo{
	padding-top : 20px;
	height : 80px;
	width : 100%;
	padding-bottom : 10px;
}

.isic-link{
	color : black;
}

.isic div{
	padding-bottom : 8px;
	padding-left : 8px;
}

ul {
	margin-top : 0;
}

button {
    background-color: #b52b00; 
    color: white; 
    border: 2px solid #b52b00;
	border-radius : 3px;
	text-align: center;
	display : flex;
	justify-content : center;	
}

a {
	color : white;
	text-decoration : none;
}