.card {
	margin-left: 15px;
	margin-right : 15px;
	margin-bottom : 25px;
	margin-top : 25px;
	min-height: 98vh;
}


.resurse {
	display: flex;
	justify-content: space-between;
	margin-bottom : 20px;
}


.resurse > div {
	flex: 1 1 45%;
	max-width : 46%;
	border: 1px solid #b1b1b1;
	background-color : #f9f9f9;
	border-radius : 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow : 5px 5px 2px #6b6565;
	height : 100px;
	padding : 10px;
}


.resurse label {
	float :right;
	color : #b52b00;
}


.resurse a {
	color : #b52b00;
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.archaive{
	width : 20px;
	height : 20px;
}

.cerinta-lab {
	margin-left : 15px;
}