.cursuri-container{
	margin-left: 15px;
	margin-right : 15px;
	margin-bottom : 25px;
	margin-top : 25px;
	min-height: 98vh;
}

.resurse {

	border: 1px solid #b1b1b1;
	background-color : #f9f9f9;
	border-radius : 5px;
	display: flex;
	flex-direction: column;
	box-shadow : 5px 5px 2px #6b6565;
	width : 50%;
}

.resurse div{
	margin : 15px;
}

.cursuri-container label {
	float :right;
}

.cursuri-container a {
	color : black;
	text-decoration: none;
}

.text-center {
	text-align: center;
}

b {
	color : #b52b00;
}