.formular {
	margin-left: 15px;
	margin-right : 15px;
	margin-bottom : 25px;
	display: flex;
    justify-content: center;
	min-height: 98vh;
}

.text-center {
	text-align: center;
}

form {
    border-collapse: collapse;
    width: 480px;	
	border: 1px solid #b1b1b1;
	background-color : #d2d2d2c4;
	border-radius : 3px;
	padding-top : 10px;
	box-shadow : 5px 5px 2px #6b6565;
	font-size : 18px;
	height : 500px;
	padding-left: 30px;
	padding-right : 15px;
}

.formular form div {
	margin-bottom : 15px;
	margin-top: 15px;
}

.formular label {
	height : 20px;
	margin-bottom : 20px;
}

.formular input {
	width : 198px;
	height : 20px;
	float: right;
    margin-right: 30px;
	border-radius : 5px;
	border-color: rgb(169, 169, 169);
    border-width: 1px;
    border-style: solid;
}

.formular select{
	width : 200px;
	height : 25px;
	float: right;
    margin-right: 30px;
	border-radius : 5px;
}

.disabled-input{
	
	border-color: rgb(0, 0, 0);
}

.butoane{
	display: flex;
    justify-content: center;
    margin: auto;
	margin-top : 90px;
}

.butoane button:first-child{ 
	margin-right: 10px;
}

.formular button {
	width : 100px;
	height : 25px;	
	border-radius : 5px;
	background-color : #b52b00;
	color : white;
	margin-top : 60px;
}

.formular span {
	color : #BC171D;
	display: none;
}

.info-suma-an-scolar label, p{
	color : #BC171D;
}

.star {
	color : #C00000;
	margin-left: 0px;
	font-size:15px;
}


.data-expirare {
	display : flex;
}

.data-expirare > div {
	flex: 1 1 50%;
	max-width : 51%;
	
}

.exp-combo {
	display : flex;
	margin-left: 22px;
}

.exp-combo select {
	width : 60px;
}



.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
