.table_div {
	margin-left: 15px;
	margin-right : 15px;
	margin-bottom : 25px;
	min-height: 98vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	box-shadow: 3px 6px 12px 0px #6b6565;
}

td, th {
    border: 1px solid #ada4a4;
    text-align: left;
    padding: 8px;
}

td {
	width : 33%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table_div {
	margin-top : 30px;
}

th {
	color : #b52b00;
}
h2 {
	text-align: center;
}

a {
	text-decoration : none;
}