span, H2 {
	color : #b52b00;
	font-weight: bold;
}

p {
	margin-left: 15px;
	margin-top : 0px;
}

.vineri_29sept, .luni_2oct{
	margin-left: 35px;
	padding : 0;
	margin-top : 0;
}

.tur {
	color: black;
}

.informatii, .intro{
	display : flex;
	margin-top : 15px;
}

.intro{
	justify-content: space-between;
	margin-top : 10px;
	margin-bottom : 50px;
}

.intro h3{
	margin-left: 15px;
	margin-bottom : 5px;
	color : #b52b00;
}

.card-festivitati {
	border: 1px solid #b1b1b1;
	background-color : #f9f9f9;
	border-radius : 3px;
	padding-top : 10px;
	box-shadow : 5px 5px 2px #6b6565;
}

.card-festivitati:first-child {
	margin-right: 15px;
}

.card-festivitati:nth-child(2) {
	margin-left: 15px;
}


.informatii > div {
	padding-top : 15px;
	border: 1px solid #b1b1b1;
	background-color : #f9f9f9;
	border-radius : 3px;
	box-shadow : 5px 5px 2px #6b6565;
}

.informatii div:first-child {
	margin-right: 15px;
}

.informatii div:nth-child(2) {
	margin-left: 15px;
}

.inscriere_activitate {
	background-color: rgba(0,0,0,0.2);
    color: black;
	font-weight: bold;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.activitati {
	display: flex;
	justify-content: space-between;
	margin-bottom : 20px;
}


.activitati > div {
	flex: 1 1 18%;
	max-width : 19%;
	border: 1px solid #b1b1b1;
	background-color : #f9f9f9;
	border-radius : 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow : 5px 5px 2px #6b6565;
}

.activitati > div > div{
	padding: 5px;
}

.activitati div img {
	border-right: 1px solid #4c4c4c;
	height : 200px;
	width: 100%;
}

.festivitati { 
	text-align: center;
}

.text-center {
	text-align: center;
}

.text-red {
	color: #b52b00;
}

.main-div {
	margin-left: 15px;
	margin-right : 15px;
	margin-bottom : 25px;
}

.inchidere_sapt {
	margin : 15px;
	font-weight: bold;
	font-size: 1.2em;
}