.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
	margin : 8px;
}

.navbar a,  .test, .suport_optiuni {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.disciplina_dropdown, .suport_dropdown, .plati_dropdown{
    float: left;
    overflow: hidden;
}

.disciplina_optiuni_content, .suport_optiuni_content{
	display:none;
}

.disciplina_dropdown .disciplina_dropbtn,
.plati_dropdown .plati_dropbtn,
.suport_dropdown .suport_dropbtn 
{
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.suport_dropdown{
	float: right;
}

.navbar a:hover, .disciplina_dropdown:hover .disciplina_dropbtn {
    background-color: red;
}

.navbar a:hover, .plati_dropdown:hover .plati_dropbtn {
    background-color: red;
}

.navbar a:hover, .suport_dropdown:hover .suport_dropbtn {
    background-color: red;
}

.disciplina_dropdown_content, 
.plati_dropdown_content , 
.suport_dropdown_content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.disciplina_optiuni_content,.suport_optiuni_content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    margin-top: -1px;
}

.suport_dropdown_content{
	margin-right : 171px;
}

.disciplina_dropdown_content a, 
.plati_dropdown_content a, 
.suport_dropdown_content a,
.suport_dropdown_content .suport_optiuni,
.disciplina_dropdown_content .test
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.disciplina_dropdown_content a:hover, 
.plati_dropdown_content a:hover,
.suport_dropdown_content a:hover,
.suport_dropdown_content .suport_optiuni:hover,
.disciplina_dropdown_content .test:hover
{
    background-color: #ddd;
}

.disciplina_dropdown:hover .disciplina_dropdown_content,
.plati_dropdown:hover .plati_dropdown_content,
.suport_dropdown:hover .suport_dropdown_content,
.suport_optiuni:hover .suport_optiuni_content,
.test:hover .disciplina_optiuni_content
{
    display: block;
}

.suport_dropdown_content
{
	right: 4px;
    left: auto;
}

.suport_optiuni_content {
	top: 1px;
	right: 160px;
    left: auto;
	min-width: 200px;
}

#RC_Optiuni{
	top: 1px;
}

#SD_Optiuni{
	top:43px;
}


#PIU_Optiuni{
	top:85px;
}


#PT_Optiuni{
	top:127px;
}


#CPD_Optiuni{
	top:169px;
}

#M_Optiuni{
	top:211px;
}

body {
	background-image: url("../img/bg1.png");
	margin : 0;
}

.info-stud{
	margin-bottom : 15px;
}

.detalii {
	margin-top : 15px;
	float :right;
	color : white;
}


.detalii *{
	margin-right : 10px;
}

.detalii span{
	color : white;
}

.logo-utcluj {
	height : 50px;
	margin-left : 40%;
	margin-top : 10px;
}

.wellcome-img{
	opacity : 0.5;
	display : flex;
	margin: 8px;
}

.wellcome-img img {	
	margin: auto;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background :url('https://www.utcluj.ro/static/img/footer-bg.png');
  color : white;
  display: flex;
  justify-content: space-between;
}

.quick-links{
	margin-top : 30px;
	display : flex;
	flex-direction  : column;
}

.maps {
	float : right;
}
.a-footer {
	color : white;
	text-decoration : none;
}
h1 {
	text-align : center;
}

.serach-bar {
	display : flex;
	flex-direction : row;
	top : 0px;
	float : right;
	margin-right : 15px;
	position: absolute;
    right: 0;
    top: 23%;
	
}


.input-search{
	display : none;
	margin-right : 8px;
    border-radius: 3px;
}