
body {
  background-image: url("login_background.jpg");
}

h1 {
  color: #ccc;
  text-align: center;
  font-family: 'Vibur', cursive;
  font-size: 50px;
}

.login-form {
  width: 350px;
  padding: 40px 30px;
  background: #eee;
  border-radius: 4px;
  border-style: solid;
  border-color:#846b66;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.form-control:focus, .form-control:focus + .fa {
  border-color: black;
  color: black;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #b52b00;
}

.log-btn {
  background: #b52b00;
  dispaly: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}


.alert {
  display: none;
  font-size: 20px;
  color: #f00;
  float: left;
}
